.ukuran {
    width: 95%;
    height: 480px;
}

.ukuran2 {
    width: 95%;
    height: 400px;
}

.ahaha {
    color: white;
}

.suntik {
    width: auto;
    height: auto;
}

.text-card {
    width: 18rem;
}

.background {
    background-image: url(https://i.pinimg.com/564x/22/2e/40/222e4048c228885608cc11aa7cc608b2.jpg);
    width: auto;
    height: auto;
}

.card{
    width: 60px;
    height: 60px;
}