.uwu {
    background-color: rgb(255, 208, 0);
}

.imagelogo {
    text-align: start;
    width: 70%;
    padding: auto;
    margin-left: 3rem
}

.sidoplasma {
    min-width: 12%;
    min-height: 12%;
    width: 10%;
    padding: 1em;
    margin-left: 3rem
}

.textnavbar {
    color: black
}

/* fiz ini gabisa di recolor black :( */